:root {
    --grey-blue: #404F64;
    --periwinkle: #8F99FB;
    --lt-grey: #7b7b7b;
    --dk-grey: #343A40;

}

.bg-image {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#forecast-box {
    background-color: var(--dk-grey);
    color: white;
}

#fetch-btn {
    background-color: var(--periwinkle);
    color: white;
}

#instruct {
    font-size: 20px;
}

#clear-btn {
    border-radius: 0%;
    font-size: 22px;
    border-top: 2px solid #7b7b7b;
}

#shrink {
    margin-left: -12em;
    margin-right: -12em;
    padding-right: -12em;
    padding-left: -12em;
}

hr {
    border-bottom: 2px var(--lt-grey);
    color: var(--lt-grey);
}

h3 {
    padding-top: 9px;
}

#search-for {
    font-size: 30px;
}

#five-day {
    font-size: 30px;
    background-color: rgba(250, 235, 215, 0.726);
    margin-top: 1em;
    margin-bottom: .5em;
    padding-left: .5em;
}

#search-results {
    color: black;
    font-size: 30px;
}

.city-li {
    list-style: none;
    font-size: 24px;
    border: none !important;
    background-color: white !important;
    list-style: none;
    text-align: center;
}

#city-li:hover {
    cursor: pointer;
    font-weight: bold;
}

#city-name {
    font-size: 36px;
    color: black;
}

h6 {
    font-size: 24px;
}

.card-text {
    text-align: center;
    font-size: 25px;
    padding-bottom: -10px;
    padding-top: -4px;
}

#icon-card {
    position: relative;
    background-color: #B78CA6;
    height: 257px;
    border: 3px solid #404F64;
}


#weather-icon {
    position: relative;
    align-content: center;
    height: 7em;
    width: 7em;
    margin-left: 5.5em;
    margin-top: 3em;
}

img {
    position: relative;

}

#card-style {
    background-color: var(--grey-blue);
    color: white;
    width: 14rem;
    margin-left: 10px;
    margin-right: 10px;
}

#small-date {
    font-size: 24px;
    font-weight: bold;
}

#card-icon {
    margin-left: 4em;
    width: 40%;
}