:root {
    --grey-blue: #404F64;
    --periwinkle: #8F99FB;
    --lt-grey: #7b7b7b;

}

#forecast-box {
    background-color: var(--grey-blue);
    color: white;
}

#fetch-btn {
    background-color: var(--periwinkle);
    color: white;
}

#instruct {
    font-size: 20px;
}

#shrink {
    margin-left: -12em;
    margin-right: -12em;
    padding-right: -12em;
    padding-left: -12em;
}

#weather-now {
    padding-right: 20rem;
}

hr {
    border-bottom: 2px var(--lt-grey);
    color: var(--lt-grey);
}

h3 {
    padding-top: 9px;
}

#search-for {
    font-size: 30px;
}

#five-day {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: .5em;
}

li {
    list-style: none;
    font-size: 24px;
}

li:hover {
    cursor: pointer;
    font-weight: bold;
}

#city-name {
    font-size: 36px;
    color: black;
}

h6 {
    font-size: 24px;
}